* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Gilroy";
}
html, body {
    width: 100%;
}

#page1 {
    height: 100vh;
    width: 100%;
    background-color: #EFEAE3;
    position: relative;
}

nav {
    padding: 2vw 2vw;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

#nav-part2{
    display: flex;
    align-items:center;
    gap: 1vw;
}

#nav-part2 h4{
    position: relative;
    padding: 10px 20px;
    border: 1px solid rgba(156, 155, 155, 0.317);
    border-radius: 50px;
    font-weight: 500px;
    color: rgba(2, 2, 2, 0.834);
    transition: all ease 0.4s;
    font-size: 18px;
    overflow: hidden;
}

#nav-part2 h4::after {
    content: "";
    position: absolute;
    height: 100%;
    width: 100%;
    background-color: black;
    left:0;
    bottom: -100%;
    border-radius: 50%;
    transition: all ease 0.4s;

}

#nav-part2 h4:hover::after{
    bottom: 0;
    border-radius: 0;
}

#nav-part2 h4 a{
    text-decoration: none;
    color: #000000bb;
    position: relative;
    z-index: 9;
}
#nav-part2 h4:hover a{
    color: white;
}